{
  "thresh": 0.2,
  "hier_thresh": 0.25,
  "darknet_path": "../pyyolo/darknet",
  "datacfg": "../cfg/gpyyolo.data",
  "cfgfile": "../cfg/tiny-yolo.cfg",
  "weightfile": "../../gpyyolo/tiny-yolo_70000.weights",
  "show_window": true,
  "test_dir": "../data/rdq_test",
  "width": 480,
  "height": 320
}

